<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="Description" content="Swap input page for hw1, CSOR4995">
  <meta name="Author" content="Rajan Bhargava">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<div id="container">

  {% include 'hw4/nav.html' %}
  <div class="container">
    <h1>Add Swap</h1>
    <div id="sec-addswap" class="section">
      <form role="swapaddform" id="swapaddform" action="/hw4/addSwap/" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="start day">Start Date</label> <br>
          <input type="date" class="form-control" id="start" name="start" value="12/3/2015">
        </div>
        <div class="form-group">
          <label for="termination day">Termination Date</label> <br>
          <input type="date" class="form-control" id="termination" name="termination" value="2/3/2016">
        </div>
        <div class="form-group">
          <label for="notional amount">Notional Amount:</label>
          <input type="number" class="form-control" id="notional" name="notional" value="100000">
        </div>
        <div class="form-group">
          <label for="fixed rate">Fixed Rate:</label>
          <input type="number" step="0.01" class="form-control" id="fixed" name="fixed" value="7">
        </div>
        <div class="form-group">
          <label for="floating rate">Floating Rate Index:</label>
          <input type="text" class="form-control" id="float" name="float" value="LIBOR">
        </div>
        <div class="form-group">
          <label for="float spread">Float Spread:</label>
          <input type="number" step="0.01" class="form-control" id="spread" name="spread" value="0.5">
        </div>
        <div class="form-group">
          <label for="fixed payer">Fixed Rate Payer:</label>
          <select class="form-control" id="payer" name="payer">
            <option>You</option>
            <option>Clearing House</option>
          </select>
        </div>
        <div class="form-group">
          <label for="clearing house">Clearing House:</label>
          <select class="form-control" id="clearing" name="clearing">
            <option>CME</option>
            <option>LCH</option>
          </select>
        </div>
		    <div class="form-group">
          <label for="email">Trader ID:</label>
          <input type="number" class="form-control" id="trader" name="trader" value="2">
        </div>

        <button type="submit" class="btn btn-primary">Add Swap</button>
      </form>
      {{ success }}
    </div>
  </div>
</div>
</body>

</html>
