<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>get-trade-from-client</servlet-name>
    <servlet-class>web.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get-trade-from-client</servlet-name>
    <url-pattern>/process-trade</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>get-swap</servlet-name>
    <servlet-class>web.ClearingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get-swap</servlet-name>
    <url-pattern>/process-swap</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>request-clearing</servlet-name>
    <servlet-class>web.ClearingRequestAcceptor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>request-clearing</servlet-name>
    <url-pattern>/request-clearing</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>clearing-status</servlet-name>
    <servlet-class>web.ClearingStatusAcceptor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clearing-status</servlet-name>
    <url-pattern>/clearing-status</url-pattern>
  </servlet-mapping>
</web-app>