<h1>Add Trader</h1>

<form action="/hw1/addtrader/" method="post">
{% csrf_token %}
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
  <br>
  Company:<br>
  <input type="text" name="company">
  <br>
  <input type="submit" value="Add Trader" />
</form>

<form action="/hw1/addtrade/" method="post">
{% csrf_token %}
  Time:<br>
  <input type="text" name="time">
  <br>
  Product Code:<br>
  <input type="text" name="product">
  <br>
  Month:<br>
  <input type="text" name="month">
  <br>
  Year:<br>
  <input type="number" name="year">
  <br>
  Lots:<br>
  <input type="number" name="lots">
  <br>
  price:<br>
  <input type="number" name="price">
  <br>
  Buy/Sell:<br>
  <input type="text" name="sign">
  <br>
  Trader ID:<br>
  <input type="number" name="trader">
  <br>
  <input type="submit" value="Add Trade" />
</form>

<form action="/hw1/aggregate/" method="post">
{% csrf_token %}
  TraderID:<br>
  <input type="text" name="traderid">
  <br>
  <input type="submit" value="Get Aggregate" />
</form>
