<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="Description" content="Landing page for hw1, CSOR4995">
  <meta name="Author" content="Rajan Bhargava">
</head>

<body>

  <div id="wrapper">
    <form action="/hw1/newTrade/"><button type="submit">Add trade</button></form>
    <form action="/hw1/newTrader/"><button type="submit">Add trader</button></form>
    <form action="/hw1/requestAggregate/"><button type="submit">Get aggregate</button></form>
  </div>

</body>

</html>